/* ===============
	PAGE
=============== */

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 27px;
  color: $text-color;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: $white-color;
  background-color: white;
}
